#exportPattern("^[[:alpha:]]+")
useDynLib(gbggm, .registration=TRUE)
exportPattern("bega")
exportPattern("d3t")
exportPattern("dhalfcauchy")
exportPattern("dhalfnorm")
exportPattern("dlaplace")
exportPattern("dlomax")
exportPattern("dmnorm")
exportPattern("gbggm")
exportPattern("pcor")
exportPattern("tr")
importFrom("igraph", "graph_from_adjacency_matrix", "cluster_louvain")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "dcauchy", "dlogis", "dnorm", "pgamma", "qnorm", "rnorm")
importFrom("YABS", "MCMC")